USE [labsanalytics_db]
GO
/****** Object:  Table [Maintenance].[maintenance]    Script Date: 1/2/2026 5:02:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Maintenance].[maintenance](
	[maintence_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_id] [int] NOT NULL,
	[last_pm_date] [date] NOT NULL,
	[pm_interval_days] [tinyint] NOT NULL,
	[pm_status] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Maintenance].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_Equipment] FOREIGN KEY([equipment_id])
REFERENCES [production].[Equipment] ([equipment_id])
GO
ALTER TABLE [Maintenance].[maintenance] CHECK CONSTRAINT [FK_maintenance_Equipment]
GO
