USE [labsanalytics_db]
GO
/****** Object:  Table [production].[Production_Shift]    Script Date: 1/2/2026 5:02:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[Production_Shift](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_name] [nvarchar](50) NULL,
	[shift_date] [date] NULL,
	[total_output] [smallint] NULL,
	[total_defect] [tinyint] NULL,
 CONSTRAINT [PK_Production_Shift] PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [production].[Production_Shift] ADD  CONSTRAINT [DF_Production_Shift_shift_date]  DEFAULT (getdate()) FOR [shift_date]
GO
