USE [labsanalytics_db]
GO
/****** Object:  Table [production].[Equipment]    Script Date: 1/2/2026 5:02:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [production].[Equipment](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_name] [nvarchar](50) NOT NULL,
	[equipment_code] [nvarchar](50) NULL,
	[equipment_type] [nvarchar](50) NULL,
	[criticality] [nvarchar](50) NULL,
	[department] [nvarchar](50) NULL,
	[commissioning_date] [date] NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [production].[Equipment]  WITH CHECK ADD  CONSTRAINT [CK_Equipment_commisioning_dateposoitive] CHECK  (([commissioning_date]<=getdate()))
GO
ALTER TABLE [production].[Equipment] CHECK CONSTRAINT [CK_Equipment_commisioning_dateposoitive]
GO
ALTER TABLE [production].[Equipment]  WITH CHECK ADD  CONSTRAINT [CK_Equipmentnot_critically] CHECK  (([criticality]='High' OR [criticality]='Medium' OR [criticality]='Low'))
GO
ALTER TABLE [production].[Equipment] CHECK CONSTRAINT [CK_Equipmentnot_critically]
GO
