USE [labsanalytics_db]
GO
/****** Object:  Table [Quality].[Inspections]    Script Date: 1/2/2026 5:02:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[Inspections](
	[inspection_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_id] [int] NULL,
	[inspection_date] [date] NULL,
	[inspection_type] [nvarchar](50) NULL,
	[inspected_qty] [smallint] NULL,
	[accepted_qty] [smallint] NULL,
	[rejected_qty] [tinyint] NULL,
	[shift_id] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [Quality].[Inspections] ADD  CONSTRAINT [DF_Inspections_inspection_date]  DEFAULT (getdate()) FOR [inspection_date]
GO
ALTER TABLE [Quality].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_Inspections_Equipment] FOREIGN KEY([equipment_id])
REFERENCES [production].[Equipment] ([equipment_id])
GO
ALTER TABLE [Quality].[Inspections] CHECK CONSTRAINT [FK_Inspections_Equipment]
GO
ALTER TABLE [Quality].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_Inspections_Production_Shift] FOREIGN KEY([shift_id])
REFERENCES [production].[Production_Shift] ([shift_id])
GO
ALTER TABLE [Quality].[Inspections] CHECK CONSTRAINT [FK_Inspections_Production_Shift]
GO
