USE [labsanalytics_db]
GO
/****** Object:  Table [Quality].[Calibration]    Script Date: 1/2/2026 5:02:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[Calibration](
	[calibration_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_id] [int] NULL,
	[last_calibration_date] [date] NULL,
	[calibration_interval_days] [smallint] NULL,
	[calibration_result] [nvarchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [Quality].[Calibration]  WITH CHECK ADD  CONSTRAINT [FK_Calibration_Equipment] FOREIGN KEY([equipment_id])
REFERENCES [production].[Equipment] ([equipment_id])
GO
ALTER TABLE [Quality].[Calibration] CHECK CONSTRAINT [FK_Calibration_Equipment]
GO
